body {
  font-family: "微軟正黑體";
}

// index
.index_area {
  .full-banner {
    height: 500px;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../demo/index_bn01.jpg");
  }
}

// footer
#footer {
  .primary-footer {
    background: #ff8533;
    border-bottom: 10px solid #fff45c;
    font-size: 12px;
    .footer-logo {
      padding: 50px 20px;
      background: #fff;
    }
    h5 {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
    }
    .f-list {
      li {
        border: 0;
        a {
          line-height: 28px;
          color: #fff;
          &:before {
            display: none
          }
        }
      }
    }
  }
  .secondary-footer {display: none}
}