
// index
.index_area {
  .full-banner {
    height: 500px;
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("../../demo/index_bn01.jpg");
  }
}